<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TestPlatform.ObjectModel" version="16.7.0-preview-20200428-01" targetFramework="net472" />
  <package id="nanoFramework.CoreLibrary" version="1.7.2-preview.5" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NuGet.Common" version="5.6.0-preview.3.6558" targetFramework="net461" requireReinstallation="true" />
  <package id="NuGet.Configuration" version="5.6.0-preview.3.6558" targetFramework="net461" requireReinstallation="true" />
  <package id="NuGet.Frameworks" version="5.6.0-preview.3.6558" targetFramework="net461" requireReinstallation="true" />
  <package id="NuGet.Packaging" version="5.6.0-preview.3.6558" targetFramework="net461" requireReinstallation="true" />
  <package id="NuGet.Versioning" version="5.6.0-preview.3.6558" targetFramework="net461" requireReinstallation="true" />
  <package id="NuProj" version="0.20.4-beta" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Diagnostics.Process" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.ProtectedData" version="5.0.0-preview.3.20214.6" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net461" />
</packages>