<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
   <!-- Configurations that affect the Test Framework -->
   <RunConfiguration>
       <MaxCpuCount>1</MaxCpuCount>
       <ResultsDirectory>.\TestResults</ResultsDirectory><!-- Path relative to solution directory -->
       <TestSessionTimeout>120000</TestSessionTimeout><!-- Milliseconds -->
       <TargetFrameworkVersion>Framework40</TargetFrameworkVersion>
       <!-- Comment the following line or adjust it if you want to test the TestAdapter. Path has to be absolute or relative to the build folder of the test dll -->
       <TestAdaptersPaths>C:\Repos\nanoFramework\lib-CoreLibrary\nanoFramework.TestFramework\source\TestAdapter\bin\Debug\net4.8</TestAdaptersPaths>
   </RunConfiguration>
   <nanoFrameworkAdapter>
       <Logging>None</Logging>
       <IsRealHardware>False</IsRealHardware>
   </nanoFrameworkAdapter>
</RunSettings>